<div style="max-width: 400px; margin: 100px auto; text-align: center">
  <h2>Edycja zadania</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')"
        >Tytuł jest wymagany</mat-error
      >
      <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')"
        >Minimum 3 znaki</mat-error
      >
      <mat-error *ngIf="taskForm.get('title')?.hasError('maxlength')"
        >Maksymalnie 50 znaków</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Opis</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="taskForm.get('description')?.hasError('maxlength')"
        >Maksymalnie 255 znaków</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin-top: 16px"
      [disabled]="!taskForm.valid"
    >
      Zapisz
    </button>
  </form>
</div>
