<div style="max-width: 400px; margin: 100px auto; text-align: center">
  <h2>Dodaj zadanie</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Tytuł jest wymagany
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">
        Tytuł musi mieć co najmniej 3 znaki
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Opis</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="taskForm.get('description')?.hasError('maxlength')">
        Opis może mieć maksymalnie 200 znaków
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin-top: 16px"
      [disabled]="taskForm.invalid"
    >
      Dodaj
    </button>
  </form>
</div>
